.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 2em;
  margin-left: 260px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1em;
    margin-left: 70px;
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-left: 60px;
  }
}
